services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  audio-app:
    build: .
    container_name: audio-app
    ports:
      - "8080:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_AMQP_DESERIALIZATION_TRUST_ALL=true