services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: event_broker
    ports:
      - "15672:15672"
      - "1883:1883"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    command: >
      sh -c "rabbitmq-plugins enable rabbitmq_mqtt && rabbitmq-server"
    restart: always

volumes:
  rabbitmq_data:
